@tailwind base;
@tailwind components;
@tailwind utilities;

/* group utilities */
.collor {
    @apply bg-sky-500 text-red-700;
}

.btn{
    @apply px-4 py-2 border rounded-full 
    text-sm font-semibold focus:outline-none
    border-purple-400
    bg-gray-300
    focus:ring-2 focus:ring-offset-2
    transition
    hover:text-white hover:border-transparent
    duration-500
    hover:bg-blue-800
    focus:text-white
    focus:bg-purple-800
    dark:focus:ring-offset-green-800 
    dark:focus:border-transparent;
}